---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import { Image } from "astro:assets";
import Body from "../components/Body.astro";
import Content from "../components/Content.astro";
type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <Body>
    <Header />
    <main class="max-w-full m-0">
	<Content>

		<article>
		  <div class="hero-image w-full">
			{
			  heroImage && (
				<Image
				  width={1020}
				  height={510}
				  src={heroImage}
				  alt=""
				  class="w-full rounded-xl shadow-lg"
				/>
			  )
			}
		  </div>
		  <div class="w-full max-w-screen-md mx-auto p-4">
			<div class="prose mb-4 py-4 text-center leading-none">
				<h1 class="text-3xl font-bold mb-2 font-mplus">{title}</h1>
				<div class="leading-7">{description}</div>
				<div class="m-2 text-gray-500 ">
				  <FormattedDate date={pubDate} />
				  {
					updatedDate && (
					  <div class="last-updated-on italic text-gray-500">
						Last updated on <FormattedDate date={updatedDate} />
					  </div>
					)
				  }
				</div>
			  <hr class="border-gray-300 border-top my-4" />
			</div>
			<slot />
			<span class="underline underline-offset-2 hover:text-orange-500 decoration-orange-500"></span>
		  </div>
		</article>
	</Content>
    </main>
    <Footer />
  </Body>
</html>
